body{
  font-family: sans-serif;
  text-align: center;
  background: #333;
  color:rgb(95, 95, 245);
  margin: 0;
  padding: 0;
}

ul,li {
  text-decoration: none;
  list-style: none;
}

a:link,a:visited{
  text-decoration: none;
  color:white;
}
